<p>user works!</p>

<mat-card class="card-design">
    <table class="user-table">
        <tr>
            <th>Name</th>
            <th>E-Mail</th>
            <th>City</th>
        </tr>
        <tr>
            <td>Peter</td>
            <td>Peters</td>
            <td>Is Okay</td>
        </tr>
        <tr>
            <td>Peter</td>
            <td>Peters MAil</td>
            <td>Is Okay</td>
        </tr>
    </table>
</mat-card>

<section>
    <button (click)="openDialog()" class="button-design" mat-fab matTooltip="Add an user" matTooltipPosition="above">
        <mat-icon>add</mat-icon>
    </button>
</section>